.navbar-nav a{
  font-size: 18px;
}

.nav-link:hover{
  background-color:  rgba(44, 82, 106, 0.934);
  color: white !important;
  border-radius: 4px;
}

.nav-link:focus{
  background-color:  rgba(44, 82, 106, 0.934);
  color: white !important;
  border-radius: 4px;
}

.card-img{
  width: unset;
  object-fit: cover;
}

.hero-header{
  margin-left: 40%;
  margin-bottom: 10%;
}

.fa-star{
  color: gold;
}

.login-header{
  font-size: 24px;
}

