.navbar-nav a{
  font-size: 18px;
}

.card-img{
  width: unset;
  object-fit: cover;
}

.hero-header{
  margin-left: 40%;
  margin-bottom: 10%;
}

.fa-star{
  color: gold;
}

.login-header{
  font-size: 24px;
}

